@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Unbounded:wght@500&display=swap');

*{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}